{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}

{% if breadcrumb %}
  <nav{{ attributes.addClass('max-w-7xl mx-auto px-4 sm:px-6 lg:px-8') }} role='navigation' aria-labelledby='system-breadcrumb'>
    <h2 class="sr-only" id='system-breadcrumb'>{{ 'Breadcrumb'|t }}</h2>
    <ol>
    {% for item in breadcrumb %}
      <li>
        {% if item.url %}
          <a class="link" href="{{ item.url }}">{{ item.text }}</a>
        {% else %}
          {{ item.text }}
        {% endif %}
      </li>
    {% endfor %}
    </ol>
  </nav>
{% endif %}
