
  <footer class="bg-white" aria-label="Footer">
      <div class="max-w-7xl mx-auto py-12 px-4 overflow-hidden sm:px-6 lg:px-8">

            {% block footer__menu %}
                {% include "@molecules/menus/inline/inline-menu.twig" %}
            {% endblock %}

          <div class="mt-8 flex justify-center space-x-6">

              <a href="#" class="text-gray-400 hover:text-gray-500">
            <span class="sr-only">Facebook</span>
            {{ ex_icon('facebook', { height: 24 }) }}
          </a>

              <a href="#" class="text-gray-400 hover:text-gray-500">
            <span class="sr-only">Instagram</span>
            {{ ex_icon('instagram', { height: 24 }) }}
          </a>

              <a href="#" class="text-gray-400 hover:text-gray-500">
            <span class="sr-only">Twitter</span>
            {{ ex_icon('twitter', { height: 24 }) }}
          </a>

              <a href="#" class="text-gray-400 hover:text-gray-500">
            <span class="sr-only">GitHub</span>
            {{ ex_icon('github', { height: 24 }) }}
          </a>

              <a href="#" class="text-gray-400 hover:text-gray-500">
            <span class="sr-only">Dribbble</span>
            {{ ex_icon('dribbble', { height: 24 }) }}
          </a>

          </div>
          <p class="mt-8 text-center text-base text-gray-400">
              © {{ "now"|date('Y') }} {{ bamboo_token('site:name') }}. {{ 'All rights reserved'|trans }}.
          </p>
      </div>
  </footer>
